./horse_face_detection/HorseFaceDetection/**
./horse_ear_detection/HorseEarDetection/**
./horse_face_detection/HorseFaceDetection.v4-all-rgb.yolov8-*/**
./horse_face_detection/HorseFaceDetection.v4-all-rgb.yolov8/**
